
.icon-menu:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-googleplus:before { content: '\e802'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-Cake:before { content: '\f1fd'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
